body{
	font-family: 'Times New Roman', Times, serif;
	font-size: 80%;
	color: #fff;
	background-color: #000;
	}  

div{
text-align: center;


}

title{
text-align: center;

}

#mapa {
	height: 400px;
	width: 50%;
	text-align: center;
}

#map2 {
	height: 500px;
	width: 100%;
}

.ban {
	height: 250px;
	width: 350px;
}

#mapa {position: absolute; top: 600px; left: 380px; width: 600px;}

#pokemon {position: absolute; top: 100px; left: 1100px; width: 200px;}

#capitales {position: absolute; 
	top: 50px; 
	left: 380px; 
	width: 600px;
text-align: center;
}

#poke{position: absolute; top: 150px; left: 1100px; width: 0px;}
#move{position: absolute; top: 370px; left: 1100px; width: 0px;}
#title2{position: absolute; top: 50px; left: 1050px; width: 300px;}